/*
color-table:
#0075CC
#015DB2
#B5B5B6
#000000
*/

div#header{
	height: 360px;
	color: #000000;
}

div#guideline{
	height: 500px;
}

div#guideline_header{
	height: 100px;
	color: #FFFFFF;
	background-color: #015DB2;
}

div#guideline_content{
	height: 400px;
	background-color: #0075CC;
	/*background-image: url('img/rel_pic.jpg');*/
}

div#guideline_title{
	height: 128px;
	text-align: center;
	padding-top: 32px;
}

div#guideline_choice{
	height: 240px;
	margin: 0 auto;
}

div#guideline_choice a{
	text-decoration: none;
}


div#header p.head{
	font-size: 20px;
	line-height: 36px;
}

div#guideline_title h2{
	color: #FFFFFF;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 6px;
}

div.boxlink{
	margin-top: 0px;
	border: 4px #FFFFFF solid;
	padding: 24px;
	width: 384px;
	height: 48px;
	color: #FFFFFF;
	background-color: transparent;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

div.boxlink:hover{
	color: #FFFFFF;
	background-color: #015DB2;
}

div#recruit_makers{
	float: left;
}

div#recruit_producers{
	float: right;
}



div.rec_head, div.rec_work, div.rec_requirement, div.rec_about{
	margin-top: 64px;
}

h2.head_title{
	color: #015DB2;
	text-align: center;
	font-size: 36px;
	line-height: 36px;
}

h3{
	font-size: 20px;
}

h3.head_catch{
	color: #000000;
	text-align: center;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 6px;
}

p.head_sentence{
	font-size: 20px;
	line-height: 36px;
}

div.req_content_left{
	float: left;
	padding-right: 32px;
	width: 448px;
}

div.req_content_right{
	float: right;
	padding-left: 32px;
	width: 448px;
}

h4, h5{
	line-height: 1.5em;
}

h5{
	margin: 0;
	font-size: 1em;
}

div.rec_requirement ul{
	margin: 0;
	margin-left: 16px;
	margin-bottom: 16px;
	border: 0;
	padding: 0;
}
/*
div.rec_requirement li{
	list-style: none;
}
div.rec_requirement li:before
{
	content: "・";
}
*/

div.rec_contact{
	padding: 64px;
	height: 48px;
}

div.contact{
	margin: 0 auto;
	border: 4px #015DB2 solid;
	color: #015DB2;
}

hr.recruit{
	margin-top: 60px;
	border: 4px #015DB2 solid;
}
